
@media screen and (max-width:768px) {
    .container{
        max-width: 600px;
      
    }
    nav ul{
        margin: 1rem 0rem 1rem 10rem;
    
    }
    header img{
        max-width: 400px;
        display: block;
        margin: auto;
     
    }
}

@media screen and (max-width:576px) {
    .container{
        max-width: 300px;
      
    }
    nav ul{
        margin: 1rem 0rem 1rem 33.5px;
    
    }
    header img{
        max-width: 200px;
        display: block;
        margin: auto;
     
    }
    nav ul li{
        
        padding: 3px;
        
    }
    header p{
        font-size: smaller;
    }
    section{
      font-size:x-small;
    }
    footer{
        font-size: smaller;
    }
    
}

